
a , a:visited{
    border: 1px solid white;
    color: #fff;
    background-color: #000;
    padding: 4px;
    border-radius: 8px;
    text-decoration: none;
}
a:hover {
    background-color: #FF00FF;
}
body{
    background-color: #333;
}
#buttons {
    display: none;
}

#toolbar {
    display: flex;
}
#coolwold {
    color: #fff;
   
}
#jesus {
    text-align: center;
    background-color: #000
    border 10px;
    border-color: #ec1919;
}
#bar {
    color: brown;
    background-color: lightblue;
    border: 5px solid blue ;
}