
a , a:visited{
    border: 1px solid black ;
    color: #000 ;
    padding: 4px;
    border-radius: 8px;
    text-decoration: none;
}
a:hover {
    background-color: #FF00FF;
}
body{
    background-color: #fff;
}

#buttons {
    display: none;
}

#toolbar {
    display: flex;
}
#coolwold  {
        color: brown;
}
#jesus {
    text-align: center;
    background-color: #000
    border 10px;
    border-color: #ec1919;
}
#bar {
    color: green;
    background-color: lightblue ;
    border: 5px solid blue ;
}